.mainContainer{
    height: 100vh;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #4375fd, #7469ec, #b3b3f5);
    position: absolute;
    width: 100vw;
}

.subContainer{
    background: linear-gradient(to bottom, #338afd, #79c3ff, #b0d1fc);
    width: 350px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    margin-top: 15vh;
    
}

.titleContainer h2{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

.inputText{
    height: 35px;
    border: 2px solid black;
    margin: 5px;
    margin-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 220px;
    
}

.username{
    margin-top: 10px;
}

.Title{
    font-size: 50px;
    margin-top: 30vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
}

.buttonContainer {
    margin-top: 30px;
}
.buttonContainer .inputButton{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    margin-top: 40px;
    width: 250px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    border: 2px solid black;
    margin-bottom: 40px;
    height: 45px;
  }

.inputButton:hover{
  color: white;
  box-shadow: 0 0 20px rgba(194, 186, 250, 0.3);
  background-color: rgb(156, 141, 255);
}

.titleContainer {
    margin: 0; /* Set margin to 0 */
    padding: 0; /* Set padding to 0 */
    margin-bottom: -15px;
  }
  .titleContainer h2{
    padding: 10px;
    margin: 3px;
    margin-bottom: 5px;
  }
  .titleContainer h3,
  .titleContainer h4,
  .titleContainer h5 {
    margin: 0; /* Set margin to 0 for all headings inside titleContainer */
    padding: 3px; /* Set padding to 0 for all headings inside titleContainer */
    color: rgba(77, 77, 77, 0.842);
}

.loginfail {
    background: linear-gradient(to bottom, #f58989, #fc9e94, #f8cdcb);
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    margin: auto;
    display: none;
    margin-top: 35px;
}

.loginfailtext{
    padding: 0px 10px;
}